<div class="banner-bootom-w3-agileits">
  <div class="container">
    <div class="col-md-4 single-right-left">
      <div class="grid images_3_of_2">
        <div class="flexslider">
          <ul class="slides">
            <li data-thumb="<%= @product.images.first&.image %>">
              <div class="thumb-image">
                <%= image_tag @product.images.first&.image %>
              </div>
            </li>
            <li data-thumb="<%= @product.images.first&.image %>">
              <div class="thumb-image">
                <%= image_tag @product.images.first&.image %>
              </div>
            </li>
            <li data-thumb="<%= @product.images.first&.image %>">
              <div class="thumb-image">
                <%= image_tag @product.images.first&.image %>
              </div>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-8 single-right-left simpleCart_shelfItem">
      <h3><%= @product.name %></h3>
      <p><%= number_to_currency(@product.price, negative_format: "(%u%n)") %></p>      
      <div class="description">
        <h5><%= t "static_pages.check_payment" %></h5>
      </div>
      <div class="color-quality">
        <div class="color-quality-right">
          <h5><%= t "static_pages.qty" %> :</h5>
          <select
            id="country1"
            onchange="change_country(this.value)"
            class="frm-field required sect"
          >
            <option value="null">5</option>
            <option value="null">6</option>
            <option value="null">7</option>
            <option value="null">10</option>
          </select>
        </div>
      </div>
      <div class="occasion-cart">
        <div
          class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2"
        >
          <form action="#" method="post">
            <fieldset>
              <input type="hidden" name="cmd" value="_cart" />
              <input type="hidden" name="add" value="1" />
              <input type="hidden" name="business" value=" " />
              <input type="hidden" name="item_name" value="Wing Sneakers" />
              <input type="hidden" name="amount" value="650.00" />
              <input type="hidden" name="discount_amount" value="1.00" />
              <input type="hidden" name="currency_code" value="USD" />
              <input type="hidden" name="return" value=" " />
              <input type="hidden" name="cancel_return" value=" " />
              <input
                type="submit"
                name="submit"
                value="Add to cart"
                class="button"
              />
            </fieldset>
          </form>
        </div>
      </div>
      <ul
        class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls"
      >
        <li class="share"><%= t "static_pages.share" %></li>
        <li>
          <a href="#" class="facebook">
            <div class="front">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="back">
              <i class="fab fa-facebook" aria-hidden="true"></i></div
          ></a>
        </li>
        <li>
          <a href="#" class="twitter">
            <div class="front">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="back">
              <i class="fab fa-twitter" aria-hidden="true"></i></div
          ></a>
        </li>
        <li>
          <a href="#" class="instagram">
            <div class="front">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </div>
            <div class="back">
              <i class="fab fa-instagram" aria-hidden="true"></i></div
          ></a>
        </li>
        <li>
          <a href="#" class="pinterest">
            <div class="front">
              <i class="fab fa-linkedin" aria-hidden="true"></i>
            </div>
            <div class="back">
              <i class="fab fa-linkedin" aria-hidden="true"></i></div
          ></a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
